* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    width: 100vw;
    height: 100vh;
    background-color: #7d6afc;
}

.parent-2{
    width: 100vw;
    height: 100vh;
    background-color: #ff4141;
}

.parent nav {
    padding: 0 50px;
    width: 100%;
    height: 100px;
    background-color: #fff;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.parent nav .navigation {
    display: flex;
    gap: 50px;
}

.parent nav .logo {
    width: 64px;
    aspect-ratio: 1/1;
    background-color: #000;
}

.parent .hero {
    width: 100%;
    flex-grow: 1;
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat();
}

